<a href="https://colab.research.google.com/github/Brayan-Garcia-Lopez/analisis_de_datos/blob/main/py_3_Garcia_Lopez_Brayan_Alessandro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
          #LISTAS

numInt = ['uno','dos','tres','cuatro']

numInt.insert(0, 'cuatro')
numInt.remove('tres')
ultimo_elemento = numInt.pop()

contador = 0
while 'cuatro' in numInt:
  numInt.remove('cuatro')
  contador += 1

n = len(numInt)

In [15]:
n

2

In [24]:
          #SETS

set_carros = {'mercedes','mazda','renault','toyota'}

set_carros.update({'ferrari'})
copia_set = set_carros.copy()

copia_set.discard('mazda')

set_carros.update({'mazda'})

contador = 0
while 'mazda' in set_carros:
  set_carros.remove('mazda')
  contador += 1

n = len(set_carros)

In [45]:
set_carros

{'ferrari', 'mercedes', 'renault', 'toyota'}

In [32]:
                #TUPLA
azar = (1, 'manzana', 3.14, 'platano')

print("El primer elemento es:", {azar[0]})
print("El segundo elemento es:", {azar[1]})

for i in azar:
  print(i)

remover = 'Manzana'
nueva_tupla = tuple(i for i in azar if i != remover)

El primer elemento es: {1}
El segundo elemento es: {'manzana'}
1
manzana
3.14
platano

In [41]:
              #DICCIONARIO
diccionario = {
    'nombre': 'Alberto',
    'edad': 30,
    'ciudad': 'Mexico'}
diccionario.update({'pais': 'San Luis Potosi'})
if 'nombre' in diccionario:
  del diccionario['nombre']
print(f"Dicccionario despues del diccionario['nombre']: {diccionario}")

Dicccionario despues del diccionario['nombre']: {'edad': 30, 'ciudad': 'Mexico', 'pais': 'San Luis Potosi'}