<a href="https://colab.research.google.com/github/Brayan-Garcia-Lopez/analisis_de_datos/blob/main/py_5_Garcia_Lopez_Brayan_Alessandro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

harvard = pd.read_csv('datasets/harvard_reviews.csv')

In [3]:
harvard.shape

(3184, 7)

In [5]:
harvard.head()

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...

In [9]:
harvard.iloc[:, 1]

0        Mobile
1       Desktop
2        Mobile
3       Desktop
4       Desktop
         ...
3179    Desktop
3180    Desktop
3181    Desktop
3182    Desktop
3183    Desktop
Name: published_platform, Length: 3184, dtype: object

In [10]:
harvard.iloc[:, 2]

0       5
1       4
2       3
3       4
4       5
       ..
3179    3
3180    3
3181    5
3182    5
3183    5
Name: rating, Length: 3184, dtype: int64

In [11]:
harvard.iloc[:10, 2]

0    5
1    4
2    3
3    4
4    5
5    4
6    5
7    5
8    4
9    4
Name: rating, dtype: int64

En diciembre de 2023, Laura camin√≥ por el campus de Harvard University. Hab√≠a le√≠do rese√±as como ‚ÄúBest classes and good environment‚Äù y ‚ÄúLovely university campus has many historic...‚Äù, pero estar ah√≠ superaba cualquier comentario.

Desde su m√≥vil escribi√≥: ‚ÄúGood thanks for everything, good work group‚Äù.
A unos metros, otro visitante publicaba: ‚ÄúWe did a walk around most of the Harvard Campus.‚Äù

Distintos viajeros, la misma emoci√≥n: finalmente, estaban en Harvard.